<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OcaSimulator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Amministratore email</param-name>
    <param-value>admin@admin.elis</param-value>
  </context-param>
  <context-param>
    <param-name>Amministratore password</param-name>
    <param-value>123456789</param-value>
  </context-param>
  <filter>
    <filter-name>studFil</filter-name>
    <filter-class>filter.StudenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>studFil</filter-name>
    <url-pattern>/opzionistudente</url-pattern>
    <url-pattern>/svolgetest</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>dipFil</filter-name>
    <filter-class>filter.DipendenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dipFil</filter-name>
    <url-pattern>/formcreazionedomande</url-pattern>
    <url-pattern>/inserimentorisposte</url-pattern>
    <url-pattern>/visualizzarichiesta</url-pattern>
    <url-pattern>/dipendente</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>utenteFilter</filter-name>
  	<filter-class>filter.UtenteFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>utenteFilter</filter-name>
  	 <url-pattern>/modificapassword</url-pattern>
  	 <url-pattern>/visualizzastorico</url-pattern>
    
   
  </filter-mapping>
</web-app>